---
import Layout from "../layout/Layout.astro";
import Carrousel from "../components/Carrousel.astro";
import Post from "../datos/post.json"
---
<Layout>
   <Carrousel/>
    <h1 class="text-center my-3">Noticias</h1>
   <div class="container">
   <div class="row" id="mostrarNoticias">
   {
        
        Post.map((item)=>(
            //<h3>{item.titulo}</h3>
            <div class="col-md-4 col-lg-3 col-xl-2 mb-4">
                <div class="card h-100">
                    <div class="card-header p-0">
                        <img src={item.imagen} alt="" class="img-fluid">
                       </div> 
                    <div class="card-body text-center">
                        <p>{item.titulo}</p>
                    </div>
                    
                    
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-danger btn-sm d-0" data-bs-toggle="modal" data-bs-target="#exampleModal" id={item.id.toString()}>Detalle</a>
                        </div>
                    </div>
                </div>
        ))
    }
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </Layout>
        <script>
            
            const mostrarNoticiasEL=document.querySelector("#mostrarNoticias");


            mostrarNoticiasEL.addEventListener("click",(e)=>{

                alert("ESCUCHANDO")

            })

            </script>